name: .NET 8 CI - DEV

on:
  push:
    branches:
      - dev
      - feature/*
  pull_request:
    branches:
      - dev

jobs:
  build-test:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore packages
      run: dotnet restore

    - name: Build solution
      run: dotnet build --configuration Debug --no-restore

    - name: Run tests
      run: dotnet test --no-build --verbosity normal
